*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Noto Sans Bengali', Arial, sans-serif;
  -webkit-tap-highlight-color:transparent;
}

body{
  background:#efefef;
  color:#222;
}

button,
input,
textarea{
  font:inherit;
}

button{
  border:none;
  background:none;
  cursor:pointer;
}

input,
textarea{
  width:100%;
  border:none;
  outline:none;
}

#app{
  max-width:430px;
  min-height:100vh;
  margin:auto;
  background:#ffffff;
  position:relative;
  overflow:hidden;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.screen{
  display:none;
  min-height:100vh;
  padding-bottom:20px;
}

.screen.active{
  display:block;
}

.receive{
  color:#b51e23;
}

.give{
  color:#118a4d;
}

.transaction-list{
  display:none;
}