*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Noto Sans Bengali',Arial,sans-serif;
  -webkit-tap-highlight-color:transparent;
}

html,body{
  width:100%;
  min-height:100%;
  background:linear-gradient(
    90deg,
    #CCA965 0%,
    #E0C284 50%,
    #EAD5AA 100%
  );
  color:#222;
}

body{
  display:flex;
  justify-content:center;
  align-items:stretch;
  padding-top:0;
}

button,
input,
textarea{
  font:inherit;
}

button{
  border:none;
  background:none;
  cursor:pointer;
}

input,
textarea{
  width:100%;
  border:none;
  outline:none;
}

#app{
  width:100%;
  max-width:430px;
  height:100dvh;
  background:#fff;
  position:relative;
  overflow:hidden;
  box-shadow:0 0 10px rgba(0,0,0,.10);
}

.screen{
  display:none;
  width:100%;
  min-height:100dvh;
  background:#fff;
}

.screen.active{
  display:block;
}

.receive{
  color:#b51e23;
}

.give{
  color:#118a4d;
}

.transaction-list{
  display:none;
}

.floating-field{
  position:relative;
}

.floating-field input:not(#searchInput),
.floating-field textarea{
  box-sizing:border-box;
}

.floating-label{
  position:absolute;
  left:18px;
  top:50%;
  transform:translateY(-50%);
  background:#fff;
  padding:0 8px;
  color:#a8b0b8;
  font-size:16px;
  font-weight:500;
  transition:.22s ease;
  pointer-events:none;
  z-index:50;
  white-space:nowrap;
}

.floating-field:focus-within .floating-label,
.floating-field.has-value .floating-label{
  top:0;
  transform:translateY(-50%);
  color:#b51e23;
  font-size:12px;
}

.floating-field:focus-within:not(.gold-search-box){
  border-color:#b51e23 !important;
  box-shadow:0 0 0 1px #b51e23 !important;
}

.txn-box .floating-label{
  left:48px;
}

.txn-note-box .floating-label{
  left:50px;
}